@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("bg2.svg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

section.chat__section {
    width: 800px;
    max-width: 90%;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    .brand {
        padding: 20px;
        background: rgb(124, 6, 221);
        background: radial-gradient(circle, rgba(124, 6, 221, 1) 0%, rgba(70, 89, 252, 1) 100%);
        display: flex;
        align-items: center;

        img {
            color: #7804df;
        }

        h1 {
            font-size: 20px;
            color: #ffff;
            margin-left: 10px;
        }
    }

    .message__area {
        height: 500px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-top: 40px;
    }

    textarea {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 14px 44px;
        font-size: 21px;
        outline: none;
        color: rgb(0, 0, 0);
        font-weight: 600;
        background: #379BFF;
    }

    .message {
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 40px;
        max-width: 300px;
        position: relative;

        h4 {
            position: absolute;
            top: -20px;
            left: 0;
            color: #000;
            font-size: 14px;
        }
    }

    .incoming {
        background: #7804df;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px;
    }

    .outgoing {
        background: #0242ce;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 0.6px;
        margin-left: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

}